{% layout 'layout.liquid' %}

{% block content %}
    <div id="profile" style="text-align: center; width: auto; border: 1px solid black;">
        <p><strong>Name:</strong> {{profile.name}}</p>
        <p><strong>Email:</strong> {{profile.email}}</p>
        <p><strong>Phone Number:</strong> {{profile.number}}</p>
        <p><strong>Age:</strong> {{profile.age}}</p>
        <p><strong>Date of Birth:</strong> {{profile.dob | date: "%B %d, %Y"}}</p>
        <p><strong>Instruments:</strong> {{profile.instruments}}</p>
        <!-- <a href="/profile/{{profile._id}}/edit">Edit Profile</a> -->
        <a href="/assignments" class="btn bg-dark" style="color:aliceblue">Back</a>
    </div>
{% endblock %}