{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6"><script></script>All Assignments</h2>
    <div class="row">
        {% for assignment in assignments %}
        <!-- // <div class="container-md"></div> -->
            <div class="card" style="width: 15rem" >
                <h5 class="card-header">{{assignment.instrument}} Lesson with {{assignment.teacher}}</h5>
                <div class="card-body">
                    <a id="date" href="/assignments/{{assignment._id}}" class="btn btn-info">{{assignment.date}}</a>
                    <!-- <small>{{assignment._id}}</small> -->
                </div>
            </div>
            <script>
                const date = document.getElementById('date')
               console.log(date)
            </script>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>
{% endblock %}