{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Assignments</h2>
    <div class="row">
        {% for assignment in assignments %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{assignment.instrument}} Lesson with {{assignment.teacher}}</h5>
                <div class="card-body">
                    <a href="/assignments/{{assignment._id}}" class="btn btn-info">{{assignment.date}}</a>
                    <p>{{assignment._id}}</p>
                    <p>Formatted Date: {{formattedDate}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}