 <!-- assignment show page, but maybe the same as the home page? -->
 {% layout 'layout.liquid' %}

 {% block content %}
 <div>
     <p>Teacher: {{assignment.teacher}}</p>
     <p>Date: {{assignment.date}}</p>
     <p>Technique: {{assignment.technique}}</p>
     <p>Sight Reading: {{assignment.sight_reading}}</p>
     <p>Book: {{assignment.book}}</p>
     <p>Notes: {{assignment.notes}}</p>
 </div>
 {% endblock %}